/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #e65000;
  --ifm-color-primary-dark: #c64700;
  --ifm-color-primary-darker: #a63d00;
  --ifm-color-primary-darkest: #853300;
  --ifm-color-primary-light: #ff6c33;
  --ifm-color-primary-lighter: #ff8c66;
  --ifm-color-primary-lightest: #ffa699;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);

  /* Foundational Colors */
  --primary-color: #e65100; /* Main color for brand and CTAs */
  --secondary-color: #ff9800; /* Supporting color or alternative primary color */
  --tertiary-color: #ffcc80; /* Additional accent color, often used for less critical actions or indicators */

  /* Feedback Colors */
  --success-color: #4caf50; /* Indication of a successful action or positive message */
  --danger-color: #f44336; /* Indication of an error or negative message */
  --warning-color: #ffeb3b; /* Indication of caution or a potential issue */
  --info-color: #2196f3; /* Indication of general information */

  /* Interactive States */
  --hover-color: #e64a19; /* Color change on mouse hover */
  --active-color: #ff5722; /* Color when the element is being clicked or tapped */
  --focus-color: #ffab91; /* Color when the element is in focus (important for accessibility) */
  --disabled-color: #888888; /* Color indication that an element is inactive or non-interactable */

  /* Background Colors */
  --background: #fafafa; /* Main background color for the app or website */
  --background-primary: #ffffff; /* Main background color for the app or website */
  --background-secondary: #e0e0e0; /* Darkened alternative background color, used for UI differentiation */
  --background-tertiary: rgba(0, 0, 0, 0.04); /* Often used for subtle distinctions in the UI */
  --background-tertiary-alt: rgba(255, 255, 255, 0.04);
  --background-disabled: #dcdcdc;

  /* Text Colors */
  --text-primary: #212121; /* Main text color */
  --text-secondary: #757575; /* Secondary or lighter text color, often used for metadata or less important information */
  --text-tertiary: #bdbdbd; /* Even lighter text color for non-critical information */
  --text-on-primary: #ffffff; /* Color of text that will appear on top of the primary color (important for contrast) */
  --text-on-secondary: #212121; /* Color of text that will appear on top of the secondary color */
  --text-on-danger: #ffffff; /* Color of text that will appear on top of the secondary color */

  /* Borders and Dividers */
  --border-primary: #e0e0e0; /* Main color for borders */
  --border-secondary: #eeeeee; /* Alternative or lighter border color */
  --divider-color: #bdbdbd; /* Color for separating sections or elements */

  /* Special Cases */
  --inverse-color: #ffffff; /* Color for elements on dark backgrounds */
  --highlight-color: #ffeb3b; /* Color for highlighting text or elements */
  --muted-color: #fafafa; /* Extremely light color, often used for background areas to be less pronounced */

  /* Gradient Colors (if using gradients) */
  --gradient-start: #e65100; /* Gradient start color */
  --gradient-end: #ff9800; /* Gradient end color */

  /* Shadows (though not a color, still relevant) */
  --shadow-color: rgba(0, 0, 0, 0.16);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #e65000;
  --ifm-color-primary-dark: #c64700;
  --ifm-color-primary-darker: #a63d00;
  --ifm-color-primary-darkest: #853300;
  --ifm-color-primary-light: #ff6c33;
  --ifm-color-primary-lighter: #ff8c66;
  --ifm-color-primary-lightest: #ffa699;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
  --ifm-navbar-background-color: #000000;
  --ifm-background-color: #111 !important;
}

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  border: 0 solid var(--border-primary);
}

blockquote, dl, dd, h1, h2, h3, h4, h5, h6, hr, figure, p, pre {
  margin: 0;
}

input,
select,
textarea {
  border: 2px solid var(--border-primary);
  padding: .25rem .5rem;
  font-size: .875rem;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}

button, select {
  text-transform: none;
}

button, [role="button"] {
  cursor: pointer;
}

 button, [type='button'], [type='reset'], [type='submit'] {
   -webkit-appearance: button;
   background-color: transparent;
   background-image: none;
 }