/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.hero {
  color: white;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.heroUpper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 3 3 auto;
  width: 100%;
  background: linear-gradient(
    0deg,
    rgba(230, 80, 0, 0) 0%,
    rgb(230, 80, 1) 50%,
    rgb(230, 80, 0) 100%
  );
}

[data-theme='dark'] .heroUpper {
  background: linear-gradient(
    0deg,
    rgba(230, 80, 0, 0) 0%,
    rgb(80, 30, 1) 50%,
    rgb(80, 30, 0) 100%
  );
}

.heroUpperContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 900px;
  width: 100%;
}

.heroUpperContainer img {
  max-width: 400px;
  filter: drop-shadow(0 0 100px rgba(255, 255, 255, 1));
}

[data-theme='dark'] .heroUpperContainer img {
  filter: drop-shadow(0 0 50px rgba(0, 0, 0, 0.8));
}

.heroUpper h1 {
  font-size: 4rem;
  letter-spacing: 0.5rem;
  font-weight: 500;
  margin: 0;
}

.heroUpper h2 {
  margin-top: 0.75rem;
  margin-bottom: 1.5rem;
}

.heroLower {
  flex: 2 2 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.terminal {
  border-radius: 0.4rem;
  background: #ffffff;
  color: #000000;
  border: 1px solid #d9d9d9;
  margin: 0;
  overflow: hidden;
  width: 100%;
  max-width: 550px;
}

[data-theme='dark'] .terminal {
  background: #1e1e1e;
  color: #ffffff;
  border: 1px solid #000000;
}

.terminalHeader {
  color: #999;
  background: #f7f2f8;
  border-bottom: 1px solid #d9d9d9;
  align-items: center;
  gap: 1rem;
  padding: 0.75rem 1rem;
  font-size: 1.25rem;
  display: flex;
  position: relative;
}

[data-theme='dark'] .terminalHeader {
  background: #3f3a3f;
  color: #999;
  border-bottom: 1px solid #000000;
}

.terminalButton {
  background-color: #999;
  border-radius: 50%;
  width: 0.75rem;
  height: 0.75rem;
}

.terminalTitle {
  position: absolute;
  width: 100%;
  text-align: center;
}

.terminalCode {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  padding: 1rem;
  border: none;
}

.terminalCode button {
  display: flex;
  gap: 1rem;
  fill: #000;
  color: #000;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

[data-theme='dark'] .terminalCode button {
  fill: white;
  color: white;
}

.terminalCode button > span {
  font-family: var(--ifm-font-family-monospace);
  font-size: var(--ifm-code-font-size);
}
